@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .w-358{
        width:358px;
      }
    .w-1366{
        width:1366px
    }
    .h-342{
     height:342px
    }
    .h-657{
        height:657px
       }
    .w-500{
     width:500px
    }
    .h-64{
        height:64px
       }
    .w-1161{
     width:1161px
    }
    .h-593{
        height:593px
       }
    .h-450{
        height:450px
       }
    .pl-102{
        padding-left: 102px;
    }
    .pt-94{
        padding-top:94px;
    }
    .pt-30{
        padding-top:30px;
    }
    .mt-92{
        margin-top:92px;
    }
    .h-67{
        height:67px
       }
    .w-458{
     width:458px
    }
    .mx-21{
        margin-left:21px;
        margin-right:21px;
    }
    .mt-21{
        margin-top:21px;
    }
    .h-169{
        height:169px;
    }
    .h-45{
        height:45px;
    }
    .mx-81{
        margin-left:81px;
        margin-right:81px;
    }
    .w-296{
     width:296px;
    }
    .h-27{
     height:27px;
    }
    .text-17{
        font-size:22px;
        line-height:16px;
    }
    .mt-47{
        margin-top:47px;
    }
    .w-100{
        width:100px;
       }
    .w-442{
        width:442px;
       }
    .mx-28{
        margin-left:28px;
        margin-right:28px;
    }
    .h-266{
        height:266px;
    }
    .w-224{
     width:224px;
    }
    
    .ml-469{
        margin-left:469px;
    }
    .ml-366{
        margin-left:366px;
    }
    .w-430{
     width:430px;
    }
    .h-205{
     height:205px;
    }
    .w-400{
     width:400px;
    }
    .h-57{
     height:57px;
    }
    .pt-130{
        padding-top:130px;
    }
    .mt-130{
        margin-top:130px;
    }
    .mt-15{
        margin-top:15px;
    }
    .w-188{
      width:188px;
    }
    .h-37{
      height:37px;
    }
    .h-41{
        height:41px;
      }
    .h-65{
        height:65px;
      }
    .w-388{
      width:388px;
    } 
    .w-194{
        width:194px;
      } 
    .pt-21{
        padding-top:21px;
    }
    .mt-17{
        margin-top:17px;
    }
    .ml-11{
        margin-left:11px;
    }
    .h-317{
        height:317px;
      }
    .w-452{
        width:452px;
    }
    .h-301{
        height:301px;
    }
    .px-540{
        padding-right:540px;
        padding-left:540px;
    }
    .px-290{
        padding-right:290px;
        padding-left:290px;
    }
    .mt-14{
        margin-top:14px;
    }

    .mt-12{
        margin-top:16px;
    }
    .w-422{
        width:422px;
    }
    .w-410{
        width:410px;
    }
    .h-60{
        height:60px;
    }
    .ml-21{
        margin-left:21px;
    }
    .w-199{
        width:199px;
    }

    .text-24{
        font-size:32px;
        line-height:44px;
    }
    
    .h-225{
        height:225px;
    }
    .mt-100{
        margin-top:100px;
    }
    .w-320{
        width:320px;
    }
    .h-164{
        height:164px;
    }
    .w-290{
        width:290px;
    }
    .ml-561{
     margin-left:459px;
    }
    .ml-523{
     margin-left:421px;
    }
    .mt-25{
        margin-top:25px;
       }
    .w-278{
        width:278px;
    }
    .w-139{
        width:139px;
    }
    .mt-19{
        margin-top:19px;
    }
    .w-298{
        width:298px;
    }
    .h-40{
        height:40px;
    }
    .w-73{
        width:73px;
    }
    .w-66{
        width:66px;
    }
    .w-42{
        width:42px;
    }
    .w-200{
        width:200px;
    }
    .ml-138{
        margin-left:138px;
    }
    .h-248{
        height:248px;
    }
    .h-232{
        height:232px;
    }
    .pt-16{
        padding-top:16px;
    }
    .px-422{
        padding-right:422px;
        padding-left:422px;
    }
    .ml-355{
        margin-left:355px;
    }
    .h-50{
        height:50px;
    }
    .ml-19{
        margin-left:19px;
    }
    .h-68{
        height:68px;
    }
    .mt-13{
        margin-top:13px;
    }
    .w-78{
        width:78px;
    }
    .h-35{
        height:35px;
    }
    .w-858{
        width:858px;
    }
    .w-818{
        width:818px;
    }
    .h-124{
        height:124px;
    }
    .w-286{
        width:286px;
    }
    .h-144{
        height:144px;
    }
    .h-30{
        height:30px;
    }
    .h-41{
        height:41px;
    }
    .w-201{
        width:201px;
    }
    .w-806{
        width:806px;
    }
    .h-92{
        height:92px;
    }
    .w-274{
    width:274px;
    }
    .h-99{
    height:99px;
    }
    .w-276{
    width:276px;
    }
    .w-234{
        width:234px;
        }
    .h-246{
    height:246px; 
    }
    .mt-34{
        margin-top:34px;
    }
   
    .icon{
        position:absolute;
        right:480px;
        top:295px;
        font-size:25px; 
    }
   
    .icon2{
        position:absolute;
        right:480px;
        top:313px;
        font-size:25px;
    }
   
    .space::placeholder{
        padding-left:15px;
    }
   
    .dropdown{
       z-index:1000;
       }
    .control-group:focus-within .control-label {
        color: #E1B668 ;
     }	
}